{% extends 'base.html.twig' %}

{% block title %}CaultPaysages | Prestation
{% endblock %}

{% block body %}

	{% block content %}


		<section id="prestation" class="row-limit-size">
			<div id="interface-prestation">
				{% for categorie in categories %}
					{% set categoryId = 'category-' ~ loop.index %}
					<div class="interface-prestation-colonnes {{ categoryId }} ">
						<div class="squelette-interface-prestation {{ 'category-' ~ categorie.name|lower|replace({' ': '-'}) }}">
							<h3 class="categorie-title"><a href="{{ path('app_category', {'categoryId': categorie.id}) }}">{{ categorie.name }}</a></h3>
							<ul class="menus-sous-cat">
								{% for sousCategory in categorie.getSoucat|slice(0, 6) %}
									<li>
										<a href="">{{ sousCategory.name }}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					{% if loop.index in [3, 5, 8] %}
					</div>
					<div id="interface-prestation">
					{% endif %}
				{% endfor %}
			</div>
		</section>


	{% endblock %}
{% endblock %}
