{% extends 'base.html.twig' %}

{% block title %}CaultPaysages | Contact
{% endblock %}

{% block body %}
	{% block content %}

		<section id="contact" class="row-limit-size">

			<div id="carte-de-visite">
				<div id="partie1">
					<h4>L'entreprise {{infosContact[0].name }}</h4>

					<p> se situe {{ infosContact[0].adresse }}</p>
					<p>
						 
						Dans la commune de {{ infosContact[0].ville }} {{ infosContact[0].codePostal }}
					</p>

					<h4>Nous sommes joignable au : </h4>
					<p>
						{{ infosContact[0].phone }}
					</p>
					<p>{{infosContact[0].horaires }}</p>
				</div>	
			</div>

		</section>

	{% endblock %}
{% endblock %}
